* {
    margin: 0px;
    padding: 0px;
}
body{
    background-color: aquamarine;
}
.main-banner {
    margin: 0 auto;
    width: 1200px;
    height: 400px;
    background-color: bisque;
    overflow: hidden;
    position: relative;
}
.main-banner .imgban {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    transition: all ease-in-out 500ms;
    -webkit-transition: all ease-in-out 500ms;
    -moz-transition: all ease-in-out 500ms;
    -o-transition: all ease-in-out 500ms;
}
.main-banner